<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.cloudfy.pay.sys.dao.SysUserDao">

    <select id="selectSysUserPage" parameterType="cn.cloudfy.chart.pojo.SysUser" resultType="cn.cloudfy.chart.pojo.SysUser">
        select id,name,age,address from sys_user 
    </select>

</mapper>